@model IEnumerable<GestionDeArchivos.Data.Entities.Document>

<table class="table table-hover" id="example1">
    <thead style="background-color: #292D5F;color:white;">
        <tr>
            <th>
                Tipo documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Área
            </th>
            <th>
                Asesor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Correo)
            </th>
            <th>
                Recibe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatus)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDocument.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                     @if (item.Advisor == null)
                    {
                        <p>N/A</p>
                    }
                    else
                    {
                    @Html.DisplayFor(modelItem => item.Advisor.Name)
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.Correo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UserRecibes)
                </td>
                <td>
                    @if (item.Remark == null)
                    {
                        <p>Sin comentarios</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Remark)

                    }
                </td>
                <td>
                    <button class="btn btn-warning col-12">@Html.DisplayFor(modelItem => item.DocumentStatus) <i class="fas fa-exclamation"></i></button>
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Edit", "Documents", new { id=item.Id },
Context.Request.Scheme)' , 'Actualizar documento')" class="btn btn-sm btn-warning"><i class="fa fa-pencil-alt"></i> </a>
                </td>
            </tr>
        }
    </tbody>

</table>

<!--modal placeholder. Also you can place this modal form in the _Layout.cshtml-->
<div class="modal fade in" tabindex="-1" role="dialog" data-backdrop="static" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white"></h5>
                <button type="button" class="btn-close text-white" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialog" />
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/showmodal.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,

            "buttons": [{
                extend: 'excel',
                text: '<i class="fa fa-file-excel"></i>',
                className: 'btn btn-success',
                titleAttr: 'Exportar a excel'
            }, {
                extend: 'print',
                text: '<i class="fa fa-print"></i>',
                className: 'btn btn-info',
                titleAttr: 'Imprimir'

            }, {
                extend: 'pdf',
                text: '<i class="fa fa-file-pdf"></i>',
                className: 'btn btn-danger',
                titleAttr: 'Exportar a pdf'
            }]



        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
</script>
}
