@model IEnumerable<GestionDeArchivos.Data.Entities.Usuario>

<table class="table table-hover table-striped" id="example2">
    <thead style="background-color: #3CB3C1;color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                Documentos por revisar
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentsNumberUser)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Usuarios", new { id=item.Id },
Context.Request.Scheme)' , 'Actualizar Area')" class="btn btn-sm btn-warning"><i class="fa fa-pencil-alt"></i> </a>
                    <button data-id="@item.Id" class="btn btn-sm btn-danger deleteItem" data-toggle="modal"
                        data-target="#deleteDialog">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>