@model IEnumerable<GestionDeArchivos.Data.Entities.Document>
@{
    ViewData["Title"] = "Estadísticas";
}

<div class="container-fluid">
    <h3 class="text-muted">Estadísticas</h3>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Usuarios <span class="badge bg-light text-dark">@ViewBag.UsersCount</span> </h5> <i class="fas fa-users nav-icon"></i></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href=@Url.Action("Index","Documents")>Ver Usuarios</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Documentos listos <span class="badge bg-light text-dark">@ViewBag.DocumentsAprobados</span> </h5> <i class="fas fa-check-double"></i></div>
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Documentos aprobados por mi <span class="badge bg-light text-dark">@ViewBag.DocumentsAprobadosPorMi</span> </h5></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href=@Url.Action("Index","Documents")>Ver Documentos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Documentos por revisar <span class="badge bg-light text-dark">@ViewBag.DocumentsRevisar</span> </h5>  <i class="fas fa-exclamation"></i> </div>
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Documentos revisador por mi <span class="badge bg-light text-dark">@ViewBag.DocumentsRevisadosPorMi</span></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href=@Url.Action("Index","Documents")>Ver Documentos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body d-flex align-items-center justify-content-between"><h5>Documentos por aprobar <span class="badge bg-light text-dark">@ViewBag.DocumentsAprobar</span></h5> <i class="fas fa-question"></i> </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href=@Url.Action("Index","Documents")>Ver Documentos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" id="example1">
    <thead style="background-color: #3CB3C1;color:white;">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRecibes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td>
                    @Html.DisplayFor(model => item.User)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UserRecibes)
                </td>
                <td>
                    @if (item.Remark == null)
                    {
                        <p>Sin comentarios</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Remark)

                    }
                </td>
                <td>
                    @if (@item.DocumentStatus == "Aprobar")
                    {

                        <button class="btn btn-danger col-12"> @Html.DisplayFor(modelItem => item.DocumentStatus) <i class="fas fa-question"></i></button>

                    }
            </tr>


        }
    </tbody>

</table>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      
    });
</script>
}